:root {
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral Colors */
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);

    /* Font Variables */
    --body-copy-fs: 15px;
    --font-weight-s: 200;
    --font-weight-m: 400;
    --font-weight-l: 600;
    --h1-font-size: 24px;
    --p-font-size: 15px;
}


/* Basic Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100dvh;
    width: 100dvw;
}

body {
    font-size: var(--body-copy-fs);
}

main {
    max-width: 375px;
    height: auto;
    padding: 1rem;
}

.card {
    width: 100%;
    height: fit-content;
    border-radius: 5px;
    padding: 1.75rem;
    box-shadow: -2px 7px 10px var(--grey-400);
}

.card img {
    margin-top: 1rem;
    translate: 180px;
}

#supervisor-card {
    border-top: 4px solid var(--cyan);
}

#team-builder-card {
    border-top: 4px solid var(--red);
}

#karma-card {
    border-top: 4px solid var(--orange);
}

#calculator-card {
    border-top: 4px solid var(--blue);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Non-viewport styling */

/* Mobile viewport styling */

/* Desktop viewport styling - need the header separate from the cards,
        then, 3 columns: left, center, right. */
@media only screen and (min-width: 376px) {
    header {
        width: 100%;
        height: fit-content;
    }

    header h1 {
        margin: 2rem auto 0rem;
        text-align: center;
        font-weight: var(--font-weight-l);
        font-size: var(--h1-font-size);
    }

    header h1 span {
        font-weight: var(--font-weight-s);
    }

    header p {
        text-align: center;
        margin: 1rem auto;
        width: 420px;
        font-size: var(--p-font-size);
    }

    main {
        max-width: 100%;
        height: 75%;
    }

    main,
    .column {
        display: flex;
        justify-content: center;
        align-items: center;    
    }

    .column {
        height: 500px;
        width: 300px;
        margin: 10px;
    }

    #desktop-column2-center {
        flex-direction: column;
        justify-content: space-evenly;
    }



    .card h2 {
        margin: 0rem 0rem 1rem 0rem;
    }

    .card p {}

    .card img {}
}